header {
  width: 100%;
}
.header-top {
  position: relative;
  height: 130px;
  z-index: 1000;
}

.logo {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);

  @include breakpoint-down(lg) {
    max-width: 65%;
    max-height: 65%;
  }
  @include breakpoint-down(md) {
    max-width: 50%;
    max-height: 50%;
    left: 15%;
  }
  @include breakpoint-down(sm) {
    max-width: 40%;
    max-height: 40%;
    left: 20%;
  }
}

/* Input */
.input {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);

  @include breakpoint-down(lg) {
    left: 60%;
  }
  @include breakpoint-down(md) {
    left: 55%;
  }
  @include breakpoint-down(sm) {
    left: 80%;
  }
}
.input input {
  padding: 0.5rem 2rem;
  height: 4rem;
  border: 1px solid $color__lightgray;
  border-radius: 5px 0px 0px 5px;
  outline: none;

  @include breakpoint-down(md) {
    padding: 0.5rem 1rem;
    height: 3rem;
  }
  @include breakpoint-down(sm) {
    display: none;
  }
}
.input input:focus {
  border: none;
  border: 1px solid $color__lightgray;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}
.input button {
  border: none;
  padding: 0.5rem 2rem;
  height: 4rem;
  background: $color__basilgreen;

  @include breakpoint-down(md) {
    padding: 0.5rem 1rem;
    height: 3rem;
  }
  @include breakpoint-down(sm) {
    display: none;
  }
}
.input button:hover {
  background: #08a351;
}
.input .fa {
  transform: scale(1.8, 1.8);
  color: $color__white;

  @include breakpoint-down(md) {
    transform: scale(1.4, 1.4);
  }
}
/* Collapse button */
.collapse-button {
  position: absolute;
  top: 25%;
  left: 110%;
  display: inline-block;
  transform: scale(2.2, 2.2);
  cursor: pointer;
  @include breakpoint-down(sm) {
    margin: 0;
  }
  @include breakpoint-up(md) {
    display: none;
  }
}

/* Header navigation   nav display on hover padaryt */
.header-bottom {
  position: relative;
  z-index: 1;
  @include breakpoint-up(md) {
    background: $color__basilgreen;
  }
}
// .header-bottom ul {
//   list-style-type: none;
//   overflow: hidden;
//   margin: 0;
//   padding: 0;
//   padding-left: 15%;
// }

// .header-bottom ul li {
//   float: left;
// }
// .header-bottom li a:hover {
//   background: #0bda6c;
// }

// .header-bottom li a {
//   display: block;
//   color: white;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 1.6rem;
//   font-weight: $font-weight__headings;
// }
.navbar {
  padding: 0;
  @include breakpoint-down(md) {
    display: none;
  }
}
.navbar-nav {
  margin-left: 15%;
}
.navbar-nav a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px !important;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}
.dropdown-menu {
  background: $color__basilblack;
}

.navbar-nav a:hover {
  background: #0bda6c;
}
.dropdown-menu a {
  font-weight: 500;
  font-size: 1.5rem !important;
  font-family: 'Times New Roman', Times, serif;
}
.dropdown-menu a:hover {
  background: $color__basilblack;
  color: $color__basilred !important;
}
#nav-dropdown:hover {
  background: red !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  min-width: 165px;
}

/* socials */
.socials {
  position: absolute;
  top: 33%;

  @include breakpoint-down(lg) {
    display: none;
  }
  @include breakpoint-up(lg) {
    left: 70%;
  }
  // transform: translate(320%, -50%);
}
.socials a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  transform: scale(2, 2);
  color: white;
  opacity: 0.5;
}
.socials a:hover {
  opacity: 1;
}
/* Vertical navigation */
.vertical-menu {
  text-align: center;
  background: $color__white !important;
  display: none;
  box-shadow: 0px 4px 5px 0px rgba(168, 164, 164, 0.75);
}

.vertical-menu a {
  color: $color__basilgreen;
  font-weight: 600;
  display: block;
  padding: 12px;
  text-decoration: none;
  border-bottom: 1px solid rgba(225, 220, 220, 0.5);
}

.vertical-menu a:hover {
  color: $color__basilred;
}

/* Autocomplete */
.input .autocomplete {
  position: absolute;

  -webkit-box-shadow: 0px 13px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 38px -9px rgba(0, 0, 0, 0.75);
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 3px;

  background: white;

  @include breakpoint-down(md) {
    h4,
    .categ-loc {
      font-size: 1.2rem;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 10 0 10 5;

    li {
      display: flex;

      .auto-left {
        flex-basis: 25%;
        img {
          width: 85%;
          height: auto;
        }
      }
      .auto-right {
        flex-basis: 80%;
        i {
          margin-right: 5px;
        }
        .categ {
          margin-right: 10px;
        }
      }
    }
    li:hover {
      h4 {
        color: $color__basilred;
      }
      cursor: pointer;
    }
  }
}
