/* Available color variables
   Aiming for “AA” of WCAG.
   Test - http://colorsafe.co/
*/
$color__white: white;
$color__alice-blue: #eff6fc;
$color__fiord: #4f5a65;
$color__black-russian: #202124;
$color__shuttle-grey: #5f6368;
$color__grey: #767676;
$color__royal-blue: #1c5aea;
$color__matisse: #376089;

$color__basilgreen: #0abe5f;
$color__lightgray: #c8bebe;
$color__basilblack: #20282b;
$color__basilred: rgb(234, 103, 93);
$color__smooth-grey: rgba(255, 255, 255, 0.15);
$color__basilorange: #ffad11;
