@import './Heading/Heading.scss';
@import './Slider/Slider.scss';
@import './Basilbox/Basilbox.scss';
@import './Footer/Footer.scss';
@import './TopRecipes/TopRecipes.scss';
@import './Flags/Flags.scss';
@import './UI/index.scss';

.card-text {
  color: #376089 !important;
  font-size: 1.8rem !important;
  margin-bottom: 10px !important;
}
